#json:
#  path: /data/egovframe-cms/front/public/json
#
#content:
#  files:
#    base-path: /data/egovframe-cms/front/public/contents/cms     # 서버 절대경로
#    public-url-prefix: /contents/cms

json:
  path: C:/Users/user/Desktop/egov/egovframe-cms-frontend-q/public/json

content:
  files:
    base-path: C:/Users/user/Desktop/egov/egovframe-cms-frontend-q/public/contents/cms     # 서버 절대경로
    public-url-prefix: /contents/cms



spring:
  task:
    scheduling:
      timezone: Asia/Seoul

  application:
    name: cms

  jackson:
    time-zone: Asia/Seoul

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/EGOV_CSERVER?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    #url: jdbc:mysql://49.254.140.62:3306/EGOV_CSERVER?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: itid
    password: Yubi2025!
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      maximum-pool-size: 20            # 최대 커넥션 수
      minimum-idle: 5                  # 최소 idle 커넥션 수
      idle-timeout: 600000            # idle 상태 유지 시간 (10분)
      max-lifetime: 1800000           # 커넥션 최대 생명주기 (30분)
      connection-timeout: 30000       # 커넥션 요청 대기 시간 (30초)
      keepalive-time: 300000          # 커넥션이 idle timeout 전에 ping (5분)
      validation-timeout: 5000        # 유효성 검사 제한 시간
      connection-test-query: SELECT 1 # 커넥션 유효성 검사 쿼리

  redis:
    host: 49.254.140.62
    port: 6379
    password: Yubi!!@@##5630

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true    # SQL 정렬
          use_sql_comments: true   # SQL 주석 사용
          id.new_generator_mappings: false   # Hibernate 호환 설정

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 60MB
      resolve-lazily: true   # 예외를 컨트롤러 쪽에서 받도록(디버깅 유리)

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE
      org.springframework.transaction: DEBUG

  mvc:
    throw-exception-if-no-handler-found: true
    dispatch-options-request: true
    dispatch-trace-request: true
    pathmatch:
      matching-strategy: ant_path_matcher

  profiles:
    active: production

  messages:
    basename: messages
    encoding: UTF-8

  devtools:
    restart:
      enabled: false

server:
  tomcat:
    max-swallow-size: -1
    max-http-form-post-size: 0

  error:
    whitelabel:
      enabled: false

jwt:
  secret: your-super-secret-key-32bytes-or-more
  access-token-validity: 900    # 15분
  fallback-token-validity: 3600 # 1시간 (Redis 장애 시 사용)
  refresh-token-validity: 86400

springdoc:
  swagger-ui:
    path: /swagger-ui         # Swagger UI 경로
    display-request-duration: true
  api-docs:
    path: /v3/api-docs        # OpenAPI

