<div th:fragment="main">
    <div class="user-info">
        <p>아이디: <span th:text="${data.username}">아이디</span></p>
        <p>이름: <span th:text="${data.name}">이름</span></p>
        <p>권한: <span th:text="${role}">권한</span></p>
        <p>전화번호: <span th:text="${data.tel}">전화번호</span></p>
        <p>부서: <span th:text="${data.deptId}">부서</span></p>
    </div>

    <div th:if="${role.contains('ADMIN')}">
        <p>관리자 권한을 가진 사용자만 볼 수 있는 내용</p>
    </div>

    <div th:if="${role.contains('USER')}">
        <p>일반 사용자 권한을 가진 사용자만 볼 수 있는 내용</p>
    </div>

    <div th:if="${role.contains('STAFF')}">
        <p>직원 권한을 가진 사용자만 볼 수 있는 내용</p>
    </div>
</div>